.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}
.clearfix:after {clear: both}
.clearfix {zoom: 1 /* For IE 6/7 (trigger hasLayout) */}

.hidden {display: none}
.bold {font-weight: bold}
.italic {font-style: italic}
.FR {float: right}
.FL {float: left}
.MA {margin: 0 auto}
.Mb20 {margin-bottom: 20px !important}
.Mt20 {margin-top: 20px !important}
.Mr20 {margin-right: 20px !important}
.Ml20 {margin-left: 20px !important}
.bg {
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    -ms-behavior: url(/backgroundsize.htc);
}
.overlay {
    background: #000;
    opacity: 0.6;
}
html {
    -webkit-font-smoothing: antialiased;
}