@import 'reset';
@import 'helpers';

.hover {
    .drag-drop-hover {
        display: block;
    }
}

.network.files {
    border-left: 1px solid black;
}

.file {
    padding: 5px 0;
    -webkit-app-region: drag;
}

.go-up {
    background: lightcyan;
}